body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


h2 {

    margin: 0;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7eb;
}

a:hover {
    color: #838383;
}

p {
    margin: 0;
    font-size: 18px;
    color: #E5E7eb;
    width: auto;
}

button {
    width: 120px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 7px;
    border: 0;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    background-color: #0172cf;
    color: #f9faf8;
}

button:hover {
    background-color: #3882f6;
}

.main-img {
    flex-shrink: 1;
    width: 400px;
    height: auto;

}

.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url(./images/main1.jpg);
    background-size: cover;
    padding: 0 200px 80px;

}

.nav {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.hero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.logo {
    width: 150px;
    height: auto;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main {
    flex: 1;
    padding: 0 250px 80px;
}

h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-img {
    border: 2px #0172cf solid;
    border-radius: 10px;
    width: 170px;
    height: 170px;
}


.text {
    margin: 0;
    padding: 0;
    width: 170px;
    height: 170px;
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}



.content {
    flex: 1;
    padding: 90px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #e5e7eb;
}

.quote {

    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

#author {

    font-size: 20px;
    font-weight: 900;
    align-self: flex-end;
}

.action {
    flex: 1;
    border-radius: 10px;
    margin: 100px 200px;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0172cf;
}

.left {
    display: flex;
    flex-direction: column;

}

#left1 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

#left2 {
    font-size: 18px;
    color: #E5E7eb;
}

.right {
    border: 2px solid #E5E7eb;
}


.footer {
    min-height: 100px;
    padding: auto;
    background-image: url(./images/footer.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}